[2018-01-15 11:33] axic opened #4 "Sprint TODO"
- [x] Update the EEI design (add Byzantium opcodes) (@axic)
- [ ] Clarify endianness in the EEI design (@axic @chfast)
- [x] Add circleci support to Hera (@chfast)
- [x] Implement all interface methods in Hera (tracked here: https://github.com/ewasm/hera/issues/12) (@jakelang @axic)
- [x] Implement tests for each interface method in testeth (tracked here: https://github.com/ethereum/tests/pull/394

[2018-01-23 17:36] axic opened #12 "Block explorer"
Required feature set:
The block explorer should be able to:
- [x] list blocks
- [x] list transactions
- [ ] show details about transactions
- [ ] show internal calls within transactions
- [x] list accounts
- [x] show details about accounts
- [x] detect wasm contracts and offer the option to display a wast

Some of the open source block explorers:
- https://github.com/ethereumproject/explorer (live

[2018-01-23 23:28] axic opened #13 "Write brainf* contract"
There's a transcompiler: https://github.com/uehaj/bf-compiler-webassembly

We could change the
- input to read one byte from calldata
- output to buffer one byte to returndata (the returndata is then flushed when finishing execution)

@jakelang ? :)

[2018-01-23 23:55] jakelang commented on #13
oh god

[2018-02-07 15:58] axic opened #15 "Geth support"
Apparently native ewasm support in geth could be implemented by using [wagon](https://github.com/go-interpreter/wagon) (a wasm interpreter written in Go).

@gballet volunteered to look into this

The tasks are:
- [x] verify that wagon can actually run the official wasm test suite (we don't care about floating point support though)
- [x] integrate wagon into geth
- [x] support all the [EEI methods]

[2018-03-01 11:50] gballet commented on #15
Having a look at wagon, it seems to do the job but it panics if it encounters a fault. This is a problem if we are going to use it to run contracts, because we can't have geth panic if some contract code is broken.

I have submitted this PR https://github.com/go-interpreter/wagon/pull/53

[2018-03-12 01:18] axic commented on #13
Done: https://github.com/axic/bf-compiler-webassembly/tree/ewasm

[2018-03-12 16:35] jakelang commented on #4
and WAVM

[2018-03-27 16:34] lrettig commented on #13
I think I have a new favorite programming language 🤓

[2018-04-28 19:35] jakelang opened #18 "Resurrect ewasm/c-libeth for user contract library dev"
This repo (and its rust counterpart?) has been dead for a while.
It might make sense to move any related work there.

cc @axic

[2018-04-28 19:39] jakelang opened #19 "User documentation"
When the eWASM testnet goes public it will be important to have a compendium of documentation for working with eWASM and writing contracts.
A decent option for this would be readthedocs.io, which is already used for the Solidity docs.

[2018-04-29 06:04] jwasinger commented on #18
My understanding was that this repo will be the place where we store the necessary configs/scripts for spinning up testnet infrastructure.

[2018-04-29 14:45] jakelang commented on #18
@jwasinger ewasm/c-libeth would probably not be used for this case. the repo this issue is on serves that purpose, AFAIK.

[2018-05-01 13:00] gballet commented on #15
[This gist](https://gist.github.com/gballet/ff599598aaf13f252ed7de2f5c08439f) shows a unit test that demonstrates how to create a module that offers native functions. So far, that requires making some changes to the `wagon` code. I will clean up the code and create a PR this week, to get some feedback from the wagon team.

[2018-05-01 13:02] gballet commented on #15
Regarding the `panic`, the wagon team requested a different approach that is tracked in https://github.com/go-interpreter/wagon/pull/57

[2018-05-01 13:08] axic commented on #15
Great news!

[2018-05-08 10:46] gballet commented on #15
https://github.com/go-interpreter/wagon/pull/58 is the cleaned-up PR asking the wagon people for their comments. I still need to make sure that functions with parameters can be properly called, and then I can start implementing the EEI methods.

[2018-05-08 16:49] jakelang commented on #19
note: The ethereum magicians fellowship is also talking about moving documentation to another site. Perhaps it could make sense to have ewasm documentation in the same spot as other ethereum docs.

[2018-05-20 21:29] gballet commented on #15
both PRs are now integrated, I can now proceed with the EEI

[2018-06-01 17:08] lrettig commented on #4
This list is out of date wrt the new testnet sprint and refocusing away from evm2wasm, closing in favor of https://waffle.io/ewasm/testnet/

[2018-06-01 17:09] #13 closed

[2018-06-01 17:09] lrettig commented on #18
Doesn't seem like this is getting any love, closing, reopen if I've missed something.

[2018-06-01 17:11] axic commented on #4
Please don't close this until all the tasks from here are migrated off.

[2018-06-01 17:13] axic commented on #18
Is there any other issue tracking this?

[2018-06-01 17:46] lrettig opened #20 "Devops"
Devops work related to launching the testnet.

parent of #17

[2018-06-01 17:47] lrettig opened #21 "Faucet"
Child of #20

[2018-06-01 17:48] lrettig opened #22 "Sample contracts"
child of #19

- [ ] rust
- [ ] assemblyscript
- [ ] C++

[2018-06-01 17:48] lrettig opened #23 "Pass tests"
cf. https://notes.ethereum.org/9xX4L2QyQPmzJ0Xh3RAgJA

Manually listing these here since I don't want to dump the entire tests board into the testnet board on Waffle:

- [x] Add existing test cases to the new test description document (https://github.com/ewasm/tests/issues/40)
- [x] more `create`/`call` tests (https://github.com/ewasm/tests/issues/39)
- [x] more `createFromTransaction` tests (http

[2018-06-01 17:50] lrettig opened #24 "Test scoreboard"
Runs tests in parallel and shows a running count of how many have passed and failed

[2018-06-01 17:52] lrettig opened #25 "Article on using Metamask"
This will be the primary way of interacting with the testnet on day one. Explain how to deploy ewasm contracts and how to interact with contracts.

child of #19

[2018-06-01 17:53] lrettig opened #26 "Language support"
Support writing contracts in multiple languages

[2018-06-01 17:53] lrettig opened #27 "Solidity to ewasm"
child of #26

[2018-06-01 17:53] lrettig opened #28 "Vyper to ewasm"
child of #26

[2018-06-01 17:54] lrettig opened #29 "Remix integration"
Allow creating and running ewasm contracts in Remix

[2018-06-01 17:54] lrettig opened #30 "Metering contract"
https://github.com/ewasm/design/blob/master/system_contracts.md#sentinel-contract

[2018-06-01 17:55] lrettig opened #31 "genesis.json"
child of #20

[2018-06-01 17:56] lrettig opened #32 "Trinity support"

[2018-06-01 17:56] lrettig opened #33 "Support many clients"
parent of #15
parent of #32

[2018-06-01 17:58] lrettig opened #34 "Parity support"
child of #33

[2018-06-01 18:02] lrettig opened #35 "Pywebassembly"
Native python ewasm interpreter

child of #32

[2018-06-01 18:05] lrettig commented on #4
Okay, I'll migrate them to individual tasks in waffle now

[2018-06-01 18:08] lrettig opened #36 "geth with EVMC"
- [ ] EVMC support in geth: https://github.com/ethereum/go-ethereum/pull/17050
- [x] EVMC entrypoint alias: https://github.com/ethereum/evmc/pull/36
- [x] evmc_create alias in Hera.

[2018-06-01 18:09] lrettig opened #37 "Recompile the Homestead precompile to latest webassembly"

[2018-06-01 18:31] lrettig opened #38 "JIT/fuzz testing"
cf. https://github.com/ewasm/design/pull/99

[2018-06-01 18:37] lrettig commented on #18
Not that I know of, @jakelang? Feel free to reopen if this is still relevant

[2018-06-01 18:59] lrettig opened #39 "Compile rustbn.js (+ the pairing/mul/add precompile) to webassembly"
Per @cdetrio: already 95% done. i mean the code is compiled to wasm, but the rust code needs to be finished with calls to getCallData and return. @hugo-dc might've already got that working, can't remember

[2018-06-01 18:59] lrettig commented on #39
Is this MVP testnet critical?

[2018-06-01 19:05] lrettig commented on #4
I migrated all of these tasks to new issues in pm and testnet

[2018-06-01 19:05] #4 closed

[2018-06-01 19:12] lrettig opened #40 "Add documentation indicating how to create and execute tests"
https://github.com/ewasm/tests/pull/36

child of #19

[2018-06-01 19:28] jwasinger commented on #31
What is this?

[2018-06-01 19:30] jwasinger commented on #21
I'm adapting the metamask faucet for use in the EWASM testnet.  It has not been updated since September 2017 and there have been some breaking changes in the libraries it depends on:

![image](https://user-images.githubusercontent.com/3411040/40859702-12d55e1a-65b9-11e8-8073-1d26c8b2e65e.png)

[2018-06-01 19:30] jwasinger commented on #21
removing the backlog label as I am actively working on this.

[2018-06-01 19:32] pepyakin commented on #34
Interesting! Can you expand a little on this?

[2018-06-01 19:55] jwasinger commented on #21
Oh lol... nvm.  I forgot to prefix the address of the faucet with `0x` in the config.  classic....

[2018-06-02 03:31] jwasinger commented on #24
https://github.com/jwasinger/testeth-frontend

[2018-06-02 16:00] lrettig commented on #21
You may want to look into which faucet is being used for the Casper FFG testnet

Sent via Superhuman iOS ( https://sprh.mn/?vip=lane@ethereum.org )

On Fri, Jun 1 2018 at 16:55, < notifications@github.com > wrote:

[2018-06-02 17:19] lrettig commented on #34
In order of priority we are working on cpp-ethereum, geth, and then parity/trinity. No one is working on parity support yet. Want to help? :)

We'll launch the alpha testnet using cpp-ethereum only but we'd love to add geth support shortly after, would be wonderful to also have parity support.

Sent via Superhuman ( https://sprh.mn/?vip=lane@ethereum.org )

On Fri, Jun 01, 2018 at 4:32 PM, Sergey

[2018-06-02 18:37] lrettig commented on #35
@poemm's update from today's standup: All tests are passing except memgrow/memsize (which WABT doesn't support) and floating point (which he hasn't implemented yet). He's now going to start implementing the EEI for pywebassembly 👏

[2018-06-02 18:37] lrettig opened #41 "WAVM support"
Investigate using WAVM for JIT compilation of ewasm

cf. https://github.com/ewasm/hera/issues/158

[2018-06-02 18:38] lrettig commented on #41
@jakelang's update from today's standup: Working on getting WABT + WAVM working together

[2018-06-02 18:39] lrettig opened #42 "Precompiles in ewasm"
parent of #39
parent of #37
parent of #14

List of precompiles:
- [x] identity
- [ ] ecrecover
- [x] sha256
- [x] ripemd160
- [ ] modexp
- [x] ecadd
- [x] ecmul
- [x] ecpairing

[2018-06-02 18:40] lrettig commented on #21
@jwasinger what's the status of this? Is it ready or still WIP?

[2018-06-02 18:46] ehildenb opened #43 "EEI Specification"

[2018-06-04 13:44] gballet commented on #36
actually, #15 is about using github.com/go-interpreter/wagon

[2018-06-05 02:11] jwasinger commented on #21
It appears to be working fine.

[2018-06-06 14:58] jwasinger commented on #31
Okay.  I looked into this somewhat recently in BA.  I opted not to use puppeth because I didn't see a use for it at the time.  It was only potentially going to come into play if we were to use the same faucet as Ropsten.  The metamask faucet appears to work fine with cpp-ethereum/hera.

As far as configuration goes, I haven't figured out how to generate a key pair for cpp ethereum node P2P Id.  We

[2018-06-06 20:49] lrettig commented on #43
@ehildenb could you provide a description? Thanks

[2018-06-06 20:52] lrettig commented on #21
@jwasinger's update from today: it works, still need to set up deployment automation, can write something to spin up a node a put the faucet on it, basically Azure node, install ansible, it’s a nodejs app. This also still needs documentation.

[2018-06-06 20:53] lrettig commented on #12
@zixuanzh update from today:

- figured out routing stuff
- having some trouble with Rinkeby node
- right now I’m using geth, this is a good time to try switching to cpp-ethereum
- haven’t tried spinning up a private network yet with geth
- the challenge is switching from geth to cpp-ethereum
- will talk to Jared or Casey to figure out next steps

@jwasinger update: still trying to get this workin

[2018-06-06 20:56] lrettig commented on #36
@gballet one of the tasks in #15 is "integrate wagon into geth" so I renamed it to a generic "geth support" issue. EVM-C integration would be required for that. We can break it out into more issues if you prefer.

[2018-06-06 20:58] lrettig commented on #35
@poemm update today: all (non-float) assert_return tests pass including memory.grow and memory.size. wrote PyEEI infrastructure, didn’t implement functions yet. next step is to read up on EVM design in py-evm/trinity.

[2018-06-06 21:01] lrettig commented on #42
Based on today's standup I'm assigning you @hugo-dc. Hugo's update from today (Hugo if this belongs in one of the subissues please let me know, I wasn't sure):

Compile rust VM methods to wasm, getting elliptic curve precompiles implemented in WASM instead of addresses 6, 7, and 8
- Casey started this with the add method
- next instead of using hardcoded values I added the method get_calldatacopy

[2018-06-06 21:02] lrettig commented on #42
Question: are these testnet MVP-critical? If so do we need all of the precompiles, or only a subset?

[2018-06-06 21:05] lrettig commented on #41
@jakelang any updates here?

[2018-06-06 21:07] lrettig commented on #23
My update from today: I submitted a raft of PRs with bugfixes to hera and evm2wasm from `stCallCodes`:

- https://github.com/ewasm/hera/pull/250
- https://github.com/ewasm/evm2wasm/pull/280
- https://github.com/ewasm/tests/pull/44

[2018-06-06 21:12] jakelang commented on #41
@lrettig abstraction layer is ready to go, just hoping that it gets merged before i start piling more on the PR.  also, this issue is a duplicate of ewasm/hera#158

[2018-06-07 13:48] ehildenb commented on #43
@lrettig this was an accidental issue I made by trying to interact with Waffle, meant for it to be on the ewasm/design repo instead. Closing.

[2018-06-07 13:48] #43 closed

[2018-06-08 19:56] lrettig commented on #41
@jakelang Thanks for the update. Yes I'm aware that it's a dupe, this repo is more of a high-level PM repo to track all of the testnet-critical tasks via Waffle with links to other tickets, as I added in the task description above.

[2018-06-08 20:51] lrettig commented on #12
Update from today's standup. @jwasinger, @hugo-dc, and @cdetrio have been working on the [etherchain-light](https://github.com/gobitfly/etherchain-light) explorer, which is implemented in pure backend JS (it's an express/pug app) and it's roughly at feature parity with the POA explorer that @zixuanzh has been working on. Casey's update:

- switching out backend from parity to cpp
- for launch of t

[2018-06-08 20:51] lrettig commented on #42
@cdetrio answer to my question from today's standup:

- precompiles in WASM are more for showcasing, not testnet-critical
- too slow anyway until we get WAVM working
- so for testnet it’s the difference between using precompiles as implemented in cpp-ethereum vs. trying to showcase if you’re using a WASM engine then you don’t need to implement the precompiles since they come implemented in WASM

[2018-06-08 20:52] lrettig commented on #20
@jwasinger update from yesterday: spent time trying to build a docker-compose that would spin up all the infrastructure (2 miners, faucet, block explorer) as containers on one node.

[2018-06-08 20:53] lrettig commented on #42
@hugo-dc update from yesterday:

yesterday: changed ecadd contract to return the result instead of storing it, created a test case to test this contract
today: I’ll add the contract to the genesis file in the testnet repo, and more ewasm tests

[2018-06-08 20:54] lrettig commented on #35
@poemm update from yesterday: all assert_trap tests pass (except those involving floating point numbers), pushed test infrastructure

[2018-06-08 20:54] lrettig commented on #41
@jakelang update from yesterday: figuring out WAVM’s runtime api right now, so i can use it in Hera. going to forget about the cmake stuff for now.

[2018-06-09 08:43] jwasinger commented on #12
Major remaining features that need to be implemented:
 - [ ] account storage view
 - [ ] wast/wasm code view
 - [ ] ["EWASM Studio"](https://github.com/ewasm/etherchain-light/issues/2)

[2018-06-11 18:57] lrettig commented on #12
Update from @cdetrio / @jwasinger / @hugo-dc from this morning's call:

    * On Friday, worked with Hugo to reproduce what Jared got working, etherchain-lite (ECL) block explorer running on cpp-ethereum with `debug_accountRangeAt` RPC method
    * Next step is to improve ECL
        * storage_dump
        * contract_storage: debug_storage_range_at, add to contract view page
        * so you can s

[2018-06-12 16:41] lrettig commented on #42
Hi @hugo-dc how is this coming along? How much work is left? Is it still in progress? Thanks :)

[2018-06-16 17:20] cdetrio opened #44 "in a docker container, some error messages not seen by docker logs"
when running cpp-eth in the ewasm testnet dockerfile (https://github.com/ewasm/testnet/pull/17), doing `docker logs` only showed:
[code]
But when the eth output was redirected to a file within the docker container, the error message was logged to the file:
[code]

This might be a docker issue, or an issue with cpp-ethereum error logging.

[2018-06-18 20:30] lrettig commented on #41
@jakelang update from Friday: still stuck trying to get WAVM to compile with cmake.

[2018-06-18 20:31] lrettig commented on #30
Hey guys. Is this still a work in progress?

[2018-06-18 20:32] lrettig commented on #15
@gballet update from today: Working on EEI, done with the easy part. Looking into contracts calling other contracts.

[2018-06-18 20:33] lrettig commented on #23
My update from today: This is going well, making good progress. I PRed a bunch of create and call tests last week. They're in the process of being reviewed and merged. Hugo finished and merged his createFromTransaction tests. There are still a few corner cases left to tackle, highlighted in the description here. Will keep working on it this week.

[2018-06-18 20:34] lrettig commented on #20
@cdetrio / @jwasinger update from today:

- Working out kinks in ansible
- Testnet explorer/node up at http://13.95.70.101:3000/, launched from ansible scripts
- Infrastructure is in ewasm testnet ansible playbooks: https://github.com/ethereum/cluster/issues/56 (private devops repo)

[2018-06-18 20:35] lrettig commented on #18
@jakelang could you please post to the relevant code/issues here? Thanks

[2018-06-18 20:36] lrettig commented on #40
This is nearly done in https://github.com/ewasm/tests/pull/36, I expect @hugo-dc will merge it soon! Yay!

[2018-06-18 20:37] lrettig commented on #12
Update from @cdetrio / @jwasinger this morning: Testnet explorer/node up at http://13.95.70.101:3000/, launched from ansible scripts. Looks like there are still some broken bits that need to be implemented or removed. Great progress guys.

[2018-06-18 20:38] lrettig commented on #35
@poemm update from this morning:
- Overhauled PyWebAssembly byte/little-endian encoding for i32,i64,f32,f64; now supports floating point using Python float type
- passing floating point tests, except don’t know how to modify NaN’s significand like spec says, this is deprioritized for now, later will consider numpy.float32/64, decimal, or ctypes.c_float/c_double
- also deprioritizing malformed, val

[2018-06-18 20:40] lrettig commented on #32
@poemm and I began working on this. I've got a barebones PoC passing a single ewasm state test in py-evm. See MD doc linked in description for our current proposals about how to carry out the integration.

[2018-06-18 20:41] lrettig commented on #22
Update from today's meeting:

- Besides ERC-20 example, are there ideas of other examples we can do?
- Some precompiles e.g. Blake hash
- Just make sure to exclude anything that doesn’t fit in the block size limit
- Blake, zk-snarks
- fixed-point arithmetic exponentiation (@ehildenb)

[2018-06-18 23:53] hugo-dc commented on #42
Last thingI did about ecadd in Rust was to add it as a precompiled contract in the testnet:
https://github.com/hugo-dc/testnet/tree/ecadd-demo

Then I deployed a contract which calls that precompiled and stores the result, and the result was as expected.

https://github.com/hugo-dc/testnet-demo/tree/ecadd-demo

Next thing I want to do is to run this test agains the ecadd precompiled:

https://gith

[2018-06-20 14:20] lrettig commented on #42
Thanks for the update! 🙏

[2018-06-20 20:19] jakelang commented on #30
@axic have you pushed what you have so far for the contract?

[2018-06-21 12:47] gballet commented on #15
Looks like this was missing a reference to the PR that integrates wagon into geth: https://github.com/ethereum/go-ethereum/pull/16957

[2018-07-24 17:16] axic commented on #39
This has been done via https://github.com/ewasm/ewasm-precompiles

[2018-07-24 17:17] axic commented on #39
Well, ecmul/pairing is still left.

[2018-07-25 01:04] axic commented on #21
@cdetrio @jwasinger can you please document the version and repo location of the faucet in the testnet repo?

[2018-07-25 01:05] axic commented on #22
@lrettig Actually ENS resolver in AssemblyScript could be a good idea :)

[2018-07-25 03:05] jwasinger commented on #21
https://github.com/ewasm/testnet/compare/eth-faucet?expand=1 .  What do you mean by version?

[2018-07-25 10:40] axic commented on #21
I didn't know it was forked, version would have referred to a release if we didn't fork it and there are upstream releases.

[2018-07-25 16:36] lrettig commented on #22
Sure. Let's get some basic stuff working first :)

[2018-07-25 16:40] axic commented on #22
The ENS resolver is more basic than a multisig wallet, btw :)

[2018-07-25 18:52] lrettig commented on #22
Is there an existing contract I can take a look at?

Sent via Superhuman iOS ( https://sprh.mn/?vip=lane@ethereum.org )

On Wed, Jul 25 2018 at 12:40, < notifications@github.com > wrote:

[2018-07-25 21:15] axic commented on #22
Suggested reading:
- http://docs.ens.domains/en/latest/introduction.html#ens-in-5-minutes
- http://docs.ens.domains/en/latest/implementers.html#writing-a-resolver
- https://github.com/ensdomains/ens/tree/master/contracts

[2018-07-26 15:09] axic opened #51 "Testnet layout"
Available clients:
- aleth + hera
- geth + hera
- geth + wagon

Geth support isn't yet ready.

One caveat: aleth doesn't support Clique PoA

Decision to be made:
1) Do we want PoA or PoW is OK
2) Which client to focus on: aleth or geth
3) Should we offer public nodes (infura style)?
4) Should we ask infura to run some public nodes (round robin style) for us?

[2018-07-27 18:34] axic commented on #37
Only ecrecover is missing in https://github.com/ewasm/ewasm-precompiles

[2018-07-27 18:37] axic commented on #51
We have agreed to use a combination of aleth + geth, both with hera and wagon.

[2018-07-27 18:37] #51 closed

[2018-07-27 18:41] axic opened #52 "Ewasm Studio"
This is a tiny dapp to interact with wasm contracts. It should:

- compile wast to wasm
- deploy wasm
- interact with the deployed contract (call methods)

[2018-08-03 15:12] jwasinger commented on #21
There is no development activity on the upstream repo.  The metamask faucet also appears to be empty.

[2018-08-03 15:17] axic commented on #24
Is this needed? Are we working on this? The assumption is that Hera and Wagon pass all the tests, every time.

[2018-08-03 15:20] jwasinger commented on #24
This was specifically proposed for use with evm2wasmJS because running all tests at once during each CI run was too slow.  With evm2wasm-cpp I don't think this is needed.

[2018-08-03 15:20] #24 closed

[2018-08-03 15:35] axic opened #53 "Bring back the metering contract into genesis"
It was removed in #17 with commit ([previous complaint](https://github.com/ewasm/testnet/pull/17#discussion_r198461559)): https://github.com/ewasm/testnet/commit/eff2575c5e338f27d816dae633326c7186bb0675

[code]

[2018-08-03 15:39] axic opened #54 "Update readme to have aleth + hera as a shared library"

[2018-08-03 15:39] axic opened #55 "Update readme to explain geth + evmc"

[2018-08-03 15:39] axic opened #56 "Update readme to explain geth + wagon"

[2018-08-03 17:15] axic commented on #56
@gballet can you please add some howto compile + run geth+wagon?

[2018-08-10 12:22] axic opened #57 "Add dummy evm2wasm to genesis"
It should only do a `revert`.

[2018-08-10 12:27] axic opened #58 "Replace precompiles with ewasm-precompiles in genesis"
Take the precompiles from https://github.com/ewasm/ewasm-precompiles

May depend on https://github.com/ethereum/cpp-ethereum/issues/5177.

[2018-08-10 12:32] axic commented on #55
@chfast @gballet can you please add some howto compile + run geth+evmc+hera?

[2018-08-16 14:17] axic opened #59 "Add code coverage to PyWebAssembly"
PyWebAssembly follows the wasm spec very closely, so by adding code coverage to it and running only the official wasm test suite should give very accurate report of official test coverage.

[2018-08-16 14:56] poemm commented on #59
It seems that coverage.py is popular. I will look into this.

[2018-08-16 15:04] chfast commented on #59
Yes, use coverage package to get coverage report. Then upload to Codecov with codecov package.

[2018-08-16 15:06] chfast commented on #59
https://github.com/codecov/example-python

[2018-08-17 12:37] #55 closed

[2018-08-17 23:00] axic commented on #31
@jwasinger @chfast is this still relevant?

[2018-08-17 23:00] #40 closed

[2018-08-17 23:04] axic opened #61 "Rename cpp-ethereum to aleth"

[2018-08-17 23:12] axic opened #63 "Run benchmarks with binaryen/wabt/wavm and potentially in browsers"
Moved from https://github.com/ewasm/pm/issues/14:

@poemm began looking into this (although I don't think he's actually run any benchmarks yet). Per his update today:

- Firefox advertises one pass wasm to native binary
- Looked into Chakra (Microsoft’s engine), Webkits (Apple), V8 (Google), Spidermonkey (Firefox)
- I believe Firefox is the best one
- webkit has something close but has intermediat

[2018-08-17 23:33] #53 closed

[2018-08-17 23:38] axic opened #66 "Document the block explorer"

[2018-08-18 02:37] jwasinger commented on #31
I think it can be closed.  I wasn't able to figure out how to generate keypairs with cpp-eth but I was able to manage by using geth and then saving the generated keypairs.

I used puppeth to generate the keypairs for Geth+POA.

[2018-08-18 03:12] #61 closed

[2018-08-19 03:48] axic opened #67 "Set up Appveyor"
https://www.appveyor.com/docs/team-setup/#setting-up-appveyor-account-for-github-organization

[2018-08-20 22:03] axic opened #70 "Implement codeFromFile in genesis in geth"
Currently the `genesis.json` support a field `code` which takes a hex string as value.

Goal is to implement `codeFromFile` which takes a file path (relative to the path of the `genesis.json`) and loads the code form there, still considering it as a hex string.

This feature is implemented in aleth already.

[2018-08-20 22:03] axic opened #71 "Lift code size limit in geth"

[2018-08-20 22:04] axic opened #72 "Implement debug_accountRangeAt RPC method in geth"

[2018-08-20 22:49] jwasinger commented on #70
I'm opting to write a script to generate the genesis file programmatically.   I think this would be an easier route than adding this feature to geth.

[2018-08-20 23:03] jwasinger commented on #70
Implementing this in Geth should be as simple as changing this line:
https://github.com/ethereum/go-ethereum/blob/7beccb29becf439df7bf4c033a94c019ad25bead/core/genesis.go#L228

[2018-08-21 14:35] chfast commented on #36
This is done.

[2018-08-21 14:37] #36 closed

[2018-08-21 14:37] axic commented on #21
This works now.

[2018-08-21 14:37] #21 closed

[2018-08-21 16:04] axic commented on #71
Apparently it can be overriden in the puppeth config by specifying `maxCodeSize` in the params section, however it is only supported in Parity.

Have to manually lift it.

[2018-08-21 16:12] axic commented on #71
Pushed a workaround here: https://github.com/ewasm/go-ethereum/commit/a78ee2c965d5f861caa8d2cf240c385449f1c91c

[2018-08-21 16:12] #71 closed

[2018-08-22 02:40] jwasinger commented on #66
Pls expand

[2018-08-22 02:40] #66 closed

[2018-08-22 03:44] #54 closed

[2018-08-28 01:34] #41 closed

[2018-08-28 13:23] #57 closed, assigned to axic

[2018-08-29 16:39] axic opened #75 "Support evm1mode=fallback in Geth"
Basically it should support the `EVMC_REJECTED` error code and instantiate an EVM interpreter.

This task means changing @chfast's EVMC PR on geth.

[2018-08-29 16:39] axic commented on #70
So it seems the geth team is against this and would like to see a genesis modifying tool instead.

[2018-09-04 12:39] axic opened #76 "Add RPC caching proxy between etherchain and geth"
This is especially important as while implementing `accountRange` the requirement from the geth team is to not support preimage resolution, but do it afterwards using the `debug_preimage` RPC call. This will result in a lot of RPC calls, most of which can be cached.

[2018-09-04 12:41] axic commented on #52
This is kind of achieved by `ewasm/ewasm-studio` and now `ewasm/etherchain-light`.

[2018-09-04 12:41] #52 closed

[2018-09-04 12:41] axic commented on #44
Is this still a problem?

[2018-09-04 12:41] axic commented on #23
The list of tests are maintained elsewhere now.

[2018-09-04 12:41] #23 closed

[2018-09-06 03:58] #70 closed

[2018-09-18 00:54] #37 closed

[2018-09-18 00:55] #31 closed

[2018-09-18 00:55] #42 closed

[2018-09-18 00:55] #20 closed

[2018-09-18 01:04] jwasinger commented on #20
confirmed by @axic , devops work is over! woohoo.  See you guys at devcon, I'm flying off to SEA until then.

[2018-09-18 09:02] axic commented on #20
Yeah, it's done!

(Didn't see too much point keeping this open.)

[2018-09-18 09:52] #28 closed

[2018-09-18 09:52] #27 closed

[2018-09-18 09:52] axic commented on #27
These are two big chunks to be considered as part of the ewasm work.

[2018-09-18 09:53] axic commented on #28
These are too big chunks to be considered as part of the ewasm work.

[2018-09-19 23:56] jwasinger commented on #76
Unfortunately, the repo where this would be implemented is private so we would need to make the testnet devops configs publicly available somehow in order for an outside contributor to take this on.

[2018-09-24 19:28] lrettig commented on #67
What is this for? It appears to be some sort of CI tool?

[2018-09-24 19:28] pepyakin commented on #67
Appveyor is useful for testing changes on Windows, I guess that might be it.

[2018-09-24 19:46] lrettig commented on #67
Windows? Who runs Windows? 🤓

[2018-09-27 21:31] axic commented on #67
It would be used for https://github.com/ewasm/hera/issues/303

[2018-09-28 05:34] gballet commented on #67
Yeah we mostly use it to ensure windows 32 builds work. For the go client,
win32 has been broken for a long time because swarm takes up too much
memory but @fjl has deactivated the faulty tests this week so it should
work now.

[2018-10-18 01:11] cdetrio opened #87 "add note about hera branch disable-exports-check"
Forgot to note that users need to use this branch to connect to the testnet. https://github.com/ewasm/hera/pull/432

[2018-10-24 09:52] gumb0 opened #88 "Aleth config for the testnet"
With this config I was able to start syncing
https://gist.github.com/gumb0/3415adb568fd94fb5dc65d574f71e117

So far I was able to sync till the block that required Hera invocation.

[2018-10-24 17:47] gumb0 commented on #88
Currently in block 38880 something is executed differently in Hera comparing to how it was executed when the block was mined, and 58648 gas is consumed instead of 57560 given in the receipt.

The log I get from Hera
[code]

[2018-10-25 11:39] khaidv opened #89 "Build Hera"
I built hera follow as the tutorial but not work for me. Is there anyone help me??
![image](https://user-images.githubusercontent.com/30402264/47498249-eb516f00-d886-11e8-9733-3ad862a7e9e4.png)

 Thanks in advance!!

[2018-10-25 15:46] gumb0 commented on #88
With this fix https://github.com/ethereum/aleth/pull/5329 I was able to sync to the top.

[2018-10-26 16:07] avive commented on #34
Q: how this relates to the partity-wasm project?

[2018-10-26 16:15] lrettig commented on #34
@avive: A: no direct connection, this is about adding Ewasm support to Parity Ethereum. As for how much work this would take, and how much existing p-wasm work can be reused, @pepyakin and @sorpaas could speak to that.

[2018-10-26 16:40] pepyakin commented on #34
From my point of view, it looks quite likely that we can reuse some parts of pwasm, so it shouldn't be a massive task.

I suppose starting a testnet signifies transition to a more stable state for the ewasm spec? If so, then we could try to start tackling this...

[2018-10-26 21:32] lrettig commented on #34
@pepyakin We're publicly launching a stable testnet at DevCon next week :) For now we'll only be using geth but it would be great to add parity at some point.

[2018-10-26 22:01] axic commented on #34
+ aleth! 😉

[2018-10-29 00:01] axic commented on #87
Not needed anymore with latest sentinel.

[2018-10-29 21:11] lrettig opened #95 "Add W3Summit video to readme"
https://www.youtube.com/watch?v=H-Wz4lL3LMc

Review and make sure the recording turned out okay first

[2018-11-12 16:35] axic opened #97 "Ensure truffle works with EVM on the testnet"

[2018-11-12 16:35] axic opened #98 "Deploy the sentinel-governance contract on the testnet"

[2018-11-12 16:43] gballet opened #99 "Adding geth+wagon to the testnet"

[2018-11-12 17:15] axic commented on #30
It has been pushed a long while ago to: https://github.com/ewasm/sentinel-rs

[2018-11-12 17:15] #30 closed

[2018-11-12 17:15] #12 closed

[2018-11-12 17:16] axic commented on #15
Closing this now.

[2018-11-12 17:16] #15 closed

[2018-11-12 17:16] axic commented on #75
This has been solved in a different way.

[2018-11-12 17:16] #75 closed

[2018-11-12 17:17] axic commented on #87
@cdetrio can we close this now?

[2018-11-12 17:18] #26 closed

[2018-11-12 17:19] #33 closed

[2018-11-12 17:22] axic commented on #44
@cdetrio still a problem?

[2018-11-12 17:37] axic opened #100 "Have a tagged release of Sentinel"
It should:
- reject contracts with floating point ops
- reject contracts not compatible with the [ECI spec](https://github.com/ewasm/design/blob/master/contract_interface.md)
- inject metering

[2018-11-13 16:29] jakelang commented on #19
yeah getting rid of this is fine.

On Tue, Nov 13, 2018, 11:21 Lane Rettig <notifications@github.com wrote:

[2018-11-13 16:30] axic commented on #19
I prefer individual tasks so that the project board can track it.

[2018-11-13 16:30] #19 closed

[2018-11-14 00:56] axic commented on #89
@khaidv sorry for the delay, can you tell us what version of hera you are using and is your compiler version?

[2018-11-14 02:00] #87 closed

[2018-11-14 04:47] khaidv commented on #89
Hera can't build on Windows??.  I used hera library and interact with go-ethereum as follow the tutorial. But there is an error : can't open hera.so while i run geth using -synmode=full.

[2018-11-14 08:31] axic commented on #89
Can you please tell what repository you tried to build? The paths seems to be `go-ethereum/hera/evmc`, which we do not have.

[2018-11-14 09:01] khaidv commented on #89
Could you please give me the repositories of go-ethereum and hera?

[2018-11-14 09:02] axic commented on #89
Everything is in the readme: https://github.com/ewasm/testnet

But I'm still intrigued what did you try to compile.

[2018-11-14 09:47] axic commented on #97
Sample instructions: #98

[2018-11-14 10:44] khaidv commented on #89
I built it like 1 month ago. I can't remember what version of hera I use :)). Errors is the above image

[2018-11-14 11:28] axic commented on #89
Ok, I'm going to close this then. Please check back tomorrow when we plan to have a final working set of instructions for building.

[2018-11-14 11:28] #89 closed

[2018-11-14 11:30] axic opened #110 "Aleth support"

[2018-11-14 13:10] lrettig commented on #97
For some odd reason I can't get truffle to work with HDWalletProvider (necessary to supply an account with gas for the deploy). Logged https://github.com/trufflesuite/truffle/issues/1429.

[2018-11-14 14:00] lrettig opened #111 "Add documentation on C/C++"
We need some basic docs on how to write and compile a smart contract using these languages. Should be linked from the master README.md.

[2018-11-14 17:13] axic commented on #88
@gumb0 @chfast @jwasinger is this still a valid genesis?

[2018-11-14 17:14] axic commented on #88
Actually since #91 the forks start at 0.

[2018-11-14 22:33] lrettig commented on #98
Getting the following compile error:

[code]

[2018-11-14 22:33] lrettig commented on #97
Issue was resolved. Confirmed that it worked in staging with an out-of-the-box sample truffle app (metacoin):

http://40.114.207.112/explorer/tx/0x0ccda82ef34f18ac59cc8a1e017b091dd00e7159c620ec88b48226be82d636f7
http://40.114.207.112/explorer/tx/0xd431b6543ec883f432ba01fb0576a0ece3c22c33c01208a3b8f6f2f8a6ebe58e
http://40.114.207.112/explorer/tx/0x1f2dcef82a1bcc3b9541403ab365836682564ba0497683c3577

[2018-11-14 22:39] axic commented on #98
You are using truffle 4.x.

[2018-11-15 00:03] axic commented on #98
It has the configuration to download Solidity 0.5.0 and that instruction is only picked up by truffle 5.

The code is only compiling under Solidity 0.5.0.

If you don't see "Downloading compiler..." then you have a wrong truffle version.

Make sure to reinstall `truffle@next`.

[2018-11-15 01:06] axic commented on #100
Available here: https://github.com/ewasm/sentinel-rs/releases/tag/alpha0

[2018-11-15 01:07] #100 closed

[2018-11-15 01:07] axic commented on #97
Great! Perhaps worth documenting the need for that `web-one` thing?

[2018-11-15 02:18] lrettig commented on #98
Reinstalled truffle. It's not installing solc 0.5.0:

[code]

[2018-11-15 09:58] axic commented on #98
Weird, it is working here :(

Will post some console output in a while. One difference is I'm using node 8, but that should cause any difference..

Unfortunately the code won't compile with 0.4.25.

[2018-11-15 09:59] axic commented on #98
It seems the very last truffle beta broke. I had an alpha, which was working.

[2018-11-15 10:24] axic opened #117 "Add a link to this README on the ewasm.ethereum.org"

[2018-11-15 13:09] axic commented on #117
Name it "GUIDE" and point to https://github.com/ewasm/testnet/blob/master/README.md

[2018-11-15 14:01] cdetrio commented on #117
done

[2018-11-15 14:01] #117 closed

[2018-11-15 17:32] cdetrio opened #119 "add instructions for geth static-nodes.json"
The bootnode enode urls should be put in a static-nodes.json file, to help geth connect to the network.

[2018-11-16 13:38] kggp1995 commented on #22
@lrettig @axic Can we add Nim to this bucket list?
We guys are happy to help!!

[2018-11-16 21:29] axic commented on #22
This issue is probably not very useful in terms of project management, better to have individual issues for each of these ideas.

@kggp1995 please create an issue for Nim.

[2018-11-16 23:12] axic opened #120 "Deploy a multisig on testnet and direct the mining rewards there"

[2018-11-16 23:13] axic opened #121 "Set a lower stipend for the faucet"
Also make it an even number as decimal and not as hex, so it is slightly more readable.

[2018-11-17 00:51] MaxGraey commented on #99
May be better [`life`](https://github.com/perlin-network/life#benchmarks) instead `wagon`? If you not starting progress in this direction

[2018-11-17 01:40] lrettig commented on #99
Does this refer to adding a _node_ to the testnet?

[2018-11-17 01:41] lrettig commented on #121
What do you mean by stipend?

[2018-11-17 01:52] MaxGraey commented on #99
I'm not sure. `life` just is better alternative of `wagon` VM. It already great tuning for blockchain scope, has JIT, validate and decline wasm op codes which contain non-deterministic behaviour like float point op codes and etc. Also it tested even on [AssemblyScript binaries](https://github.com/perlin-network/life/issues/29#issuecomment-427617253). Actually `perlin-network` also using AS for own

[2018-11-17 01:59] MaxGraey commented on #99
Actually I personally am a big fan of VMs based on Cranelift (developed by Mozilla and use Rust) like `wasmer` or `wasmtime`. But they are not yet mature

[2018-11-17 05:52] kggp1995 opened #122 "Nim contracts on eWASM"
**Objective:** Develop a detailed pipeline for Contracts in Nim based on the eWASM Specs

**People involved:** @kggp1995, @AchalaSB and others from eWASM & status.im team

**Goal(s):**
1. Develop a proper emscripten-based transpiler that can convert a `.nim` program (contract) to WASM executable along with other supporting files

**Detailed Workflow:**
WIP - Coming up soon..

[2018-11-17 05:54] kggp1995 commented on #22
#122 now tracks Nim Contracts on eWASM

[2018-11-17 05:56] kggp1995 commented on #111
@AchalaSB & I can volunteer.

Where do we get started ?

[2018-11-17 12:11] kggp1995 commented on #122
@achalaSB can explain the processes in detail, perhaps?

Also if @lrettig , @axic or someone can confirm the flow's alignment - that'll be great.

[2018-11-17 12:16] axic commented on #122
I'm sure you are aware of https://github.com/status-im/nim-eth-contracts ? It does some of these steps already.

[2018-11-17 12:19] kggp1995 commented on #122
Yes, but unfortunately it does not support an emscripten-based pipeline, yet.

[2018-11-17 15:00] gballet commented on #99
@MaxGraey We already have a working implementation with wagon. Life sounds interesting, I will experiment with it next week. it shouldn't be too difficult to port the work I did on wagon.

[2018-11-19 17:37] axic commented on #119
More detail: https://github.com/ethereum/go-ethereum/wiki/Connecting-to-the-network#static-nodes

[2018-11-20 17:50] axic opened #123 "Consider blockscout as a block explorer"
See https://github.com/poanetwork/blockscout

[2018-11-21 15:08] hugo-dc commented on #123
@axic What are the benefits of this new block explorer?, would this be a replacement of etherchain-light?

[2018-11-21 15:13] axic commented on #123
The major benefit is the caching it is doing. It would replace etherchain.

[2018-11-25 17:57] kggp1995 commented on #122
@AchalaSB , can you describe the pipeline for Nim Contract in detail?

That should help here. TIA!

[2018-11-26 17:10] #97 closed

[2018-12-04 12:38] axic commented on #98
With latest truffle nightly it works again:

[2018-12-04 12:55] axic commented on #98
Updated the repository, it works now with latest nightly of Truffle and the Solidity 0.5.1 releas.e

[2018-12-04 15:42] axic commented on #121
The Ether balance the faucet has in the genesis.

[2018-12-05 19:03] axic opened #131 "Add documentation on Rust"
Split off #111.

[2018-12-05 19:07] axic commented on #88
@gumb0 is this issue still relevant? Have you compared it against https://github.com/ewasm/testnet/blob/master/ewasm-testnet-aleth-config.json ?

Can you close this issue if it is not relevant anymore?

[2018-12-05 19:19] gumb0 commented on #88
If the forks start at 0, it won't work, but you can use it as a starting point to create a relevant config.

[2018-12-05 19:19] #88 closed

[2018-12-05 20:46] #111 closed

[2018-12-05 20:56] #121 closed

[2018-12-06 08:05] lrettig commented on #25
Yes it's already covered: https://github.com/ewasm/testnet#transacting

[2018-12-06 08:05] #25 closed

[2018-12-06 13:47] gballet commented on #99
So this should be good to go (not with life, that's something for the next milestone). Waiting feedback on https://github.com/ewasm/go-ethereum/issues/6 and https://github.com/ewasm/go-ethereum/issues/1

[2018-12-06 14:31] AchalaSB commented on #122
@axic I have compiled the Nim contract using `emscripten` but the generated `wasm` file is not according to the eWASM spec, couldn't deploy in testnet.
How can I get the required `wasm` file?

[2018-12-07 00:34] axic commented on #122
Does it have the proper imports and exports?

You could run wasm-chisel on it to clean some of that up. You need to install it via Rust's cargo: `cargo install chisel`.

[2018-12-07 21:36] hugo-dc commented on #110
According to this comment, the configuration won't work if in configuration fork starts at `0`: https://github.com/ewasm/testnet/issues/88#issuecomment-444608984

[2018-12-07 22:06] axic commented on #88
@gumb0 can you explain the reason?

[2018-12-08 08:12] jwasinger commented on #120
Suggesting we close this or move it to a later milestone.

[2018-12-08 11:47] axic commented on #120
Is deploying a multisig such a challenge?

[2018-12-08 16:42] jwasinger commented on #120
No.  But if we wipe the testnet (which happens regularly to staging) then we need to redeploy.

What's the use-case for this multisig?

[2018-12-08 16:51] jwasinger commented on #98
I'll give this a go tomorrow.

[2018-12-08 16:55] jwasinger opened #135 "Cluster: automatic deployment for certain contracts"
We can use ansible to automate deployment of certain contracts ( https://github.com/ewasm/testnet/issues/120 , https://github.com/ewasm/testnet/issues/98 ) to allow them to persist at the same addresses after testnet wipes.

[2018-12-08 16:57] jwasinger commented on #99
@gballet I'll deploy a geth+wagon node.

[2018-12-08 17:13] jwasinger commented on #135
This would happen as part of the testnet deployment playbook.

[2018-12-08 17:23] gballet commented on #99
@jwasinger ok, just to confirm: you need to use `--vm.ewasm="metering:true"` for it to work

[2018-12-08 17:24] gballet commented on #99
[code]

is the exact command line that I use

[2018-12-08 17:33] jwasinger commented on #99
Thanks.  I'll work on it in 10 hours (tomorrow).

[2018-12-08 18:24] axic commented on #120
Is it not possible to deploy it as part of ansible?

[2018-12-08 18:25] axic commented on #120
We need a multisig for the demo governance stuff too.

[2018-12-08 19:01] gumb0 commented on #88
I mean it will if you change it, the particular config linked linked in this issue obviously won't work

[2018-12-09 10:43] jwasinger commented on #99
Done here: https://github.com/ethereum/cluster/pull/97

[2018-12-09 10:46] jwasinger commented on #120
what's a good multi-sig to use for this?

[2018-12-09 14:49] gballet commented on #99
Very nice, thank you

[2018-12-10 16:29] axic commented on #120
The "gnosis multisig" seems to be the best one out there: https://github.com/gnosis/MultiSigWallet

`truffle migrate <account1,account2,...,accountN> <requiredConfirmations>`

[2018-12-10 17:07] axic opened #136 "Add docs section on compiling binaryen/wabt and interacting with ewasm-studio"

[2018-12-10 23:05] axic commented on #120
Would also be nice deploying the dapp (https://github.com/gnosis/MultiSigWallet/tree/master/dapp), though not necessary because https://wallet.gnosis.pm can be set to an RPC.

[2018-12-11 15:14] daxdax89 opened #137 "Step 3. fails"
I am trying to do it with Herc and for me it fails at the step 3.

Download the genesis file and use it to initialize geth:

Note that the /tmp/ewasm-node/4201 directory name above is arbitrary. It just needs to be unique.

I've tried to make a directory manually as well but it still kept telling me there is no directory. I am using Ubuntu 18 from AWS EC2 instance. Is there anything that i am miss

[2018-12-11 15:36] lrgeoemtry opened #138 "./build/bin/geth init config.json"
Wget config works.
Next step
No such file or directory exists for ./build/bin/geth/ if followed the steps.

Can a different path be set?
Shouldnt geth be able to fetch the json from anywhere?

[2018-12-11 15:45] jwasinger commented on #137
you can use whichever directory you would like for the data directory.  you don't even have to specify`--datadir` and geth will choose `~/.ethereum` as the default.

[2018-12-11 15:46] jwasinger commented on #138
see https://github.com/ewasm/testnet/issues/137

[2018-12-11 15:46] #138 closed, assigned to nobody

[2018-12-11 15:52] daxdax89 commented on #137
@jwasinger if i go without directory that way the custom genesis wouldn't be initialized i guess?
BCS otherwise i get this:

Fatal: Failed to write genesis block: database already contains an incompatible genesis block (have d4e56740f876aef8, new 1a48e34978274c3c)

[2018-12-11 16:10] lrgeoemtry commented on #137
That fatal.
U must already have geth on the instance
Remove the chain data and ls and remove the mainnet genesis file

[2018-12-11 16:11] jwasinger commented on #137
you need to delete your existing db (`geth removedb`)  before using `geth init` to create a new one.

[2018-12-11 17:21] daxdax89 commented on #137
Thanks mate you are helping a lot really. So i managed to run it, now i get this when i try to link up netstats

[code]

Any idea why? @jwasinger

[2018-12-11 18:01] hugo-dc commented on #137
@daxdax89 Try with this command:

[code]

[2018-12-11 18:30] jwasinger commented on #137
I think `WS_SECRET` needs to be `swedish_fish` ?

[2018-12-11 22:16] daxdax89 commented on #137
Ok seems to be running now? How does one see the whole explorer now? @jwasinger @hugo-dc Thanks a lot guys! <3

[2018-12-11 23:54] hugo-dc commented on #136
@axic  The purpose of this documentation is to explain how to convert wasm to wast and then use the wast code to deploy a contract in ewasm studio?

[2018-12-12 00:17] axic commented on #136
It should explain how to acquire/compile wabt and binaryen and with an example how to use wasm-dis and wasm-as.

Then separately (could be two PRs) it should explain that a deployment process is needed and ewasm-studio helps in that, but it also requires the user to upload a wast. (wasm-dis can be used to acquire that)

[2018-12-12 08:14] lrettig commented on #137
Are we sure? If so I'll update the public doc.

[2018-12-12 08:15] lrettig commented on #137
Not sure what you mean by explorer here. See the links at http://ewasm.ethereum.org/.

[2018-12-12 08:31] lrettig commented on #110
What remains to be done here?

[2018-12-12 13:06] daxdax89 commented on #137
I've meant the ethstats yeah, sorry about that :)

[2018-12-12 13:45] jwasinger commented on #137
http://ewasm.ethereum.org:3003

looks like you aren't connected, if you are running a node.  and both nodes show 1 peer connected (they are connected to each other) . So your geth node isn't running or didn't successfully connect to the network.

[2018-12-12 13:52] daxdax89 commented on #137
@jwasinger You are right, ok i've tried again with swedish_fish, looks like peers connected still showing 0

[code]

It's timing out

[code]

[2018-12-12 16:50] jwasinger commented on #137
when you connect geth to the testnet, do you see messages that indicate it is downloading blocks?

[2018-12-12 16:53] jwasinger commented on #137
For some reason your geth node isn't connecting to the testnet.

[2018-12-12 16:56] daxdax89 commented on #137
i tried rerunning it now again, and it says that IPC and HTTP are registered. Here is the log:

[code]

[2018-12-12 17:01] jwasinger commented on #137
set the log verbosity up to 12 `--vmodule "p2p=12"`, then filter for log entries containing the IP address of the node you are connecting to.

Also, filter for entries containing the first 4-5 characters in the "enode" id (the string after `enode://`).

post those.

[2018-12-12 17:02] daxdax89 commented on #137
Enode starts like this

[code]

[2018-12-12 17:03] jwasinger commented on #137
that's your enode.  you need to filter for the one you are connecting to (passed as `--bootnodes`.

[2018-12-12 17:05] jwasinger commented on #137
You are using EC2? what are the NSG rules for your instance?

[2018-12-12 17:11] daxdax89 commented on #137
I've completely forgot about that, only ssh 22 is opened for inbound. Which ones should i open?

[2018-12-12 17:14] jwasinger commented on #137
You know what... the instructions for connecting a node to the testnet don't work for me either....

[2018-12-12 17:41] daxdax89 commented on #137
Added you do LinkedIn, let's chat and try to figure out then post the solution after or maybe edit instructions ? I appreciate all the help really, would like to make this thingie working :D

[2018-12-12 17:50] jwasinger commented on #137
I think I've discovered the source of the issues we are seeing.  I need to roll some updates out to the testnet and then the instructions should work!  Will let you know

[2018-12-12 17:51] daxdax89 commented on #137
Awesome, glad to see this moving forwards :) Lmk, i will be up

[2018-12-13 15:56] MaxGraey commented on #99
Great bench for different VMs:
https://github.com/fluencelabs/fluence/blob/master/bench/vm/README.md

Note: life in that research didn't use jit

[2018-12-13 16:04] gballet commented on #99
thank you for this. This corresponds to what we're currently observing, although there are a lot of optimizations that we need to look into.

[2018-12-13 20:50] axic opened #140 "Aleth support: document how to use Aleth to connect to the testnet"

[2018-12-13 20:50] axic commented on #110
Split into two, this and #140.

[2018-12-14 08:34] lrettig commented on #140
This is partially done here but it may need to be updated: https://github.com/ewasm/testnet/blob/master/aleth.md

[2018-12-14 10:38] lrettig commented on #140
@axic what needs to be added here? Just update to reflect any recent changes?

[2018-12-14 15:22] axic commented on #140
Probably the best approach is trying to connect to the testnet. If that requires any changes to the guide, then it needs to be updated, otherwise it is one.

[2018-12-31 13:31] 5chdn commented on #34
FYI - @ks started working on this.

[2018-12-31 13:33] axic commented on #34
@5chdn nice!

[2019-01-02 20:49] jwasinger commented on #119
Fixed in https://github.com/ewasm/testnet/pull/144

[2019-01-02 20:53] jwasinger commented on #137
Hi @daxdax89 can you reference the README changes [here](https://github.com/ewasm/testnet/pull/144) and see if those steps work for you?

[2019-01-04 13:08] daxdax89 commented on #137
Cannot find module '/home/ubuntu/go-ethereum/hera/build/app.js'

[2019-01-04 18:08] jwasinger commented on #137
So I'm assuming that this is failing when you try to connect to ethstats?

[2019-01-04 22:22] axic commented on #98
@jwasinger what is the progress on this?

[2019-01-07 09:39] daxdax89 commented on #137
Yes

[2019-01-07 20:40] jwasinger commented on #137
Well it's hard to see what is happening without being able to reproduce your error.  I'd recommend having the different components `hera`,  `geth`, `ethstats` share a common parent folder.  These are separate projects and should not be cloned recursively into one another.

[2019-01-15 12:39] daxdax89 commented on #137
Ok i will try separated now, did you push new readme? Should i be following official readme now or still not updated and pushed?

[2019-01-15 13:25] daxdax89 commented on #137
I tried every single step but i've placed them in different folders as you suggested. And every step worked perfectly! I feel like its a big progress but i still don't see it here:
http://ewasm.ethereum.org:3003/

[2019-01-22 01:00] hugo-dc commented on #120
Multisig Wallet can also be deployed using the web interface: https://wallet.gnosis.pm

[2019-01-22 01:24] axic commented on #120
What is the address?

[2019-01-22 17:34] hugo-dc commented on #120
@axic 0x697c7a5e69fb6bd75eb2e0763d526f1f2fddeb43

[2019-01-30 03:48] hugo-dc commented on #98
@axic please take a look at the deployed contract: http://ewasm.ethereum.org/explorer/account/0x793a8d040319253446F90D072D47e95719700026

[2019-02-08 16:25] axic commented on #137
@daxdax89 sorry for the delay, the ethstats page contains a curated list of nodes, it won't show any other node.

[2019-02-14 00:17] axic opened #146 "Generate state tests from the wasm test suite"
We've discussed this during the Canada sprint.

The goal would be to create a tool (script) which can generate testeth-compatible cases from each of the official wasm test suite cases. This would enable clients to test ewasm and wasm compatibility at the same time.

[2019-05-02 13:25] axic commented on #135
@jwasinger was this done by any chance?

[2019-05-02 13:28] #38 closed

[2019-05-02 13:28] #44 closed

[2019-05-02 13:29] lrettig opened #147 "Run benchmarks with binaryen/wabt/wavm and potentially in browsers"

[2019-05-02 13:29] #63 closed

[2019-05-02 17:24] jwasinger commented on #135
No.

[2019-05-09 15:33] axic opened #148 "WRC20"
Add description and links to WRC20 [spec](https://gist.github.com/axic/16158c5c88fbc7b1d09dfa8c658bc363) and [examples](https://github.com/ewasm/wrc20-examples) here.

[2019-05-24 02:42] nkbai opened #149 "is there any example of webassembly contract?"
1. can I deploy  a private chain enable ewasm?
2. how to write ewasm contract using golang?

[2019-05-24 05:31] gballet commented on #149
1. You can. Look at ewasm.ethereum.org to get an example of a genesis block.
2. Golang isn't the language for writing WASM contracts (or WASM anything, really) because its support is still experimental, and the produced binaries are huge. Have a look at those Rust contract examples https://github.com/ewasm/rust-ewasm instead.

[2019-05-29 09:45] #149 closed, assigned to nobody

[2019-09-26 13:14] jrainville opened #150 "Faucet doesn't work on the new page"
This Faucet (http://ewasm.ethereum.org/explorer/faucet/), doesn't work, it gives error "privateKey not set in config" when trying to use it

The old page works though (http://ewasm.ethereum.org/faucet/).

Not sure what the exact issue is on the new page, but worst case, you can just redirect `explorer/faucet` to `/faucet` instead

[2019-09-26 13:39] jrainville opened #151 "Testnet endpoint is down"
The endpoint (http://ewasm.ethereum.org:8545) seems to be down. Tried to connect to it using Metamask and it never manages to do it.

[2019-09-26 16:09] jrainville commented on #151
Closing this as it was an issue with trying to connect from a VM.
I also fixed in Metamask the issue in my main PC by setting the optional option "Chain ID" to 66

[2019-09-26 16:09] #151 closed, assigned to jwasinger

[2019-12-04 06:55] mishaaaa opened #152 "Cannot connect metamask to ewasm testnetwork"
Failed to connect to ewasm testnetwork from metamsk. It tries to connect for some time and shows that it cannot be connected.
![IMG20191204122212](https://user-images.githubusercontent.com/19279953/70119788-14028580-1691-11ea-8fce-75e34b3809a5.jpg)

[2020-02-03 08:32] pventuzelo opened #153 "ewasm testnet down?"
Based on the result of http://ewasm.ethereum.org/, testnet seems to be down.

ETA for online back?

[2020-08-19 16:42] egroge commented on #151
I am having the same issue. I am not using a VM, and I set the chain ID to 66, but it still will not connect. Any advice?